@import 'kube';

// Variables
$grey: #f7f7f7;
$blue: #6D9CD5;

// Base
html, body {
  font-size: 14px;
  font-family: Helvetica, Arial;
}
.main-wrap {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
p {
  line-height: 2rem;
}
a {
  color: $blue;
  text-decoration: none;
  border-bottom: 1px dashed;
}
img {
  max-width: 100%;
}


